<a href='/users'>&lt; users</a>
<h1>New user</h1>

<form action='/users' method='POST'>

  <input type='text' name='first_name' placeholder='First name'\>
  <input type='text' name='last_name' placeholder='Last name'\>

  <select name='city_id'>
    <% @cities.each do |city| %>
      <option value='<%= city[:id] %>'><%= city[:name] %></option>
    <% end %>
  </select>
  
  <input type='submit' value='submit'\>

</form>
